<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioDTO</servlet-name>
        <servlet-class>controlador.UsuarioDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearUsuDTO</servlet-name>
        <servlet-class>controlador.crearUsuDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorreoServlet</servlet-name>
        <servlet-class>controlador.CorreoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>menuDTO</servlet-name>
        <servlet-class>controlador.menuDTO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductosDTO</servlet-name>
        <servlet-class>controlador.ProductosDTO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CorreoServlet</servlet-name>
        <url-pattern>/CorreoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioDTO</servlet-name>
        <url-pattern>/UsuarioDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearUsuDTO</servlet-name>
        <url-pattern>/crearUsuDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>menuDTO</servlet-name>
        <url-pattern>/menuDTO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductosDTO</servlet-name>
        <url-pattern>/ProductosDTO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
